extends public

mixin li(num)
  li(class = 'stats-stats' + num)
    span(class = 'statinfo')
      span(data-text = 'stats' + num, class = 'statname')= text(lang, 'stats' + num)
      span(class = 'value')
    progress(class = 'progressbar', max = '100')

block public

  div(class = 'content')
    div(class = 'wrapper')
    div(class = 'header')
      div(class = 'buttons left')
        div(class = 'help')
        div(class = 'terms')
      div(class = 'title')
      div(class = 'buttons')
        div(class = 'stats')
        div(class = 'languageSelect')
          div(class = 'flagWrapper')
            div(class = 'active lang ' + lang)
          div(class = 'select')
            each l in ['lv', 'en', 'ru']
              div(class = 'flagWrapper')
                div(class = 'lang ' + l)
    div(class = 'game')
      img(src = task.image, class = 'taskimage')
      div(class = 'taskimageWrapper')
        div(class = 'resultMessage')
      div(class = 'guesses')
        input(name = 'guess', data-text = 'placeholder', class = 'guess' + (success || tries > 5 ? ' hidden' : '' ), disabled = success || tries > 5, placeholder = text(lang, tries > 5 ? 'defeat' : 'placeholder' + tries))
        div(class = 'suggestions')
    div(class = 'tries')
      each attempt in attempts
        div(class = 'try')
          div(class = attempt.orderGuessed ? 'tryel correct' : 'tryel incorrect', data-text = 'order_' + attempt.orderId)
          div(class = attempt.familyGuessed ? 'tryel correct' : 'tryel incorrect', data-text = 'family_' + attempt.familyId)
          div(class = attempt.genusGuessed ? 'tryel correct' : 'tryel incorrect', data-text = 'genus_' + attempt.genusId)
          div(class = attempt.result ? 'tryel correct' : 'tryel incorrect', data-text = 'name_' + attempt.nameId)
    div(class = 'helptext')
      ul
        li(data-text = 'helptext1')= text(lang, 'helptext1')
        li(data-text = 'helptext2')= text(lang, 'helptext2')
        li(data-text = 'helptext3')= text(lang, 'helptext3')
        li(data-text = 'helptext4')= text(lang, 'helptext4')
        li(data-text = 'helptext5')= text(lang, 'helptext5')
    div(class = 'statsData')
      div(data-text = 'yourStats', class = 'statsHeader')= text(lang, 'yourStats')
      ul
        li(class = 'stats-total')
          span(class = 'statinfo')
            span(data-text = 'totalPlayed', class = 'statname')= text(lang, 'totalPlayed')
            span(class = 'value')
        li(class = 'stats-successes')
          span(class = 'statinfo')
            span(data-text = 'successRate', class = 'statname')= text(lang, 'successRate')
            span(class = 'value')
          progress(class = 'progressbar', max = '100')
        each n in [1,2,3,4,5,6]
          +li(n)
    div(class = 'privacy')
      div(data-text = 'termsHeader', class = 'termsHeader')= text(lang, 'termsHeader')
      div(data-text = 'terms', class = 'termsText')= text(lang, 'terms')
